* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F2DE;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #213555;
}

.titulo {
    display: flex;
    font-weight: 700;
    font-size: 45px;
    color: white;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 10px;
}

.abrir-menu {
    display: none;
}

.cerrar-menu {
    display: none;
}


.textoPortada {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}


/*ESTILOS DE LA SECTION DEL INDEX*/
.infoPortada {
    display: flex;
    flex-direction: column;
}

.imagenesPortada {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fotos {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.textoPortada {
    display: flex;

}

/*ESTILOS DEL FOOTER*/
.infoFooter {
    background-color: #213555;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #F0F0F0;
    padding: 5px;
    display: flex;
    justify-content: center;
}

/*ESTILOS TALLER DE PRACTICA OPERATIVA*/
.sectionTallerPracticaOp {
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
    font-weight: 100;
}

.objetivosTaller {
    font-size: 40px;
    padding-left: 0;
}

.tituloObjetivos {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*ESTILOS TALLER DE COMERCIALIZACIÓN INTERNACIONAL*/
.sectionTallerComercializacion {
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
    font-weight: 100;
}

.tituloTallerComerc {
    font-size: 40px;
    padding-left: 0;
}

/*ESTILOS NEGOCIACIONES Y CONTRATACIONES INTERNACIONALES*/
.sectionNegYCont {
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
    font-weight: 100;
}

.tituloNegYCont {
    font-size: 40px;
    padding-left: 0;
}

/*ESTILOS INTRODUCCIÓN AL COMEX*/
.sectionIntroComex {
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
    font-weight: 100;
}

.tituloIntroComex {
    font-size: 40px;
    padding-left: 0;
}

/*ESTILOS COMERCIALIZACIÓN INTERNACIONAL*/
.sectionComInt {
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
    font-weight: 100;
}

.tituloComInt {
    font-size: 40px;
    padding-left: 0;
}

/*ESTILOS CUERPO DOCENTE*/
.sectionDocentes {
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
    font-weight: 100;
}

/*ESTILOS CALENDARIO ACADEMICO*/
.sectionCalendario {
    margin: 10px;
    padding: 10px;
    display: flex;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
    font-weight: 100;

}

.tituloCalendario {
    font-size: 40px;
    padding-left: 0;
}

.textoCalendario {
    display: flex;
    flex-direction: column;
}


/*ESTILOS RESPONSIVE*/
@media screen and (min-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 480px) {
    .imagenesPortada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .fotos {
        width: 300px;
        height: 300px;
        object-fit: cover;
        padding: 10px;
    }
    .titulo {
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    .sectionCalendario {
        display: flex;
        flex-direction: column;
    }
    .imagenCalend {
        width: 300px;
        object-fit: cover;
        padding: 10px;
        display: flex;
        margin: auto;
    }
    .abrir-menu {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .cerrar-menu {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        color: white;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #A1CCD1;
        padding: 5px;
        bottom: 0;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
}


/*ANIMACIÓN EN CSS*/
@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }

}

.fotos {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}