* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESTILOS DE TIPOGRAFÍA*/

/* h1 {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #F0F0F0;
    font-size: 55px;
    padding: 10px;
} */


.textoPortada {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}

.sectionTallerPracticaOp {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}

.sectionTallerComercializacion {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}

.sectionNegYCont {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}

.sectionIntroComex {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}

.sectionComInt {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}

.sectionDocentes {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}

.sectionCalendario {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}

.sectionInstitucional {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #191717;
}

.titulo {
    color: #F0F0F0;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    font-size: 55px;
    padding: 10px;
    text-decoration: none;
}

/*ESTILOS DE BACKGROUND COLOR*/
body {
    background-color: #F4F2DE;
}

.header {
    background-color: #213555;
}

/*ESTILOS DE LA NAV*/
nav ul {
    background-color: #A1CCD1;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #191717;
}

/*ESTILOS DEL HEADER*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ESTILOS DE LA SECTION DEL INDEX*/
.infoPortada {
    display: flex;
    flex-direction: column;
}

.fotos {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.imagenesPortada {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}

.textoPortada {
    display: flex;

}

/*ESTILOS DEL FOOTER*/
.infoFooter {
    background-color: #213555;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: #F0F0F0;
    padding: 5px;
    display: flex;
    justify-content: center;
}

/*ESTILOS TALLER DE PRACTICA OPERATIVA*/
.sectionTallerPracticaOp {
    margin: 10px;
    padding: 10px;
}

.objetivosTaller {
    font-size: 40px;
    padding-left: 0;
}

.tituloObjetivos {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*ESTILOS TALLER DE COMERCIALIZACIÓN INTERNACIONAL*/
.sectionTallerComercializacion {
    margin: 10px;
    padding: 10px;
}

.tituloTallerComerc {
    font-size: 40px;
    padding-left: 0;
}

/*ESTILOS NEGOCIACIONES Y CONTRATACIONES INTERNACIONALES*/
.sectionNegYCont {
    margin: 10px;
    padding: 10px;
}

.tituloNegYCont {
    font-size: 40px;
    padding-left: 0;
}

/*ESTILOS INTRODUCCIÓN AL COMEX*/
.sectionIntroComex {
    margin: 10px;
    padding: 10px;
}

.tituloIntroComex {
    font-size: 40px;
    padding-left: 0;
}

/*ESTILOS COMERCIALIZACIÓN INTERNACIONAL*/
.sectionComInt {
    margin: 10px;
    padding: 10px;
}

.tituloComInt {
    font-size: 40px;
    padding-left: 0;
}

/*ESTILOS CUERPO DOCENTE*/
.sectionDocentes {
    margin: 10px;
    padding: 10px;
}

/*ESTILOS CALENDARIO ACADEMICO*/
.sectionCalendario {
    margin: 10px;
    padding: 10px;
    display: flex;

}

.tituloCalendario {
    font-size: 40px;
    padding-left: 0;
}

.textoCalendario {
    display: flex;
    flex-direction: column;
}

/*ESTILOS INSTITUCIONAL*/
.sectionInstitucional {
    margin: 10px;
    padding: 10px;
}

/*ESTILOS RESPONSIVE*/
@media screen and (min-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .imagenesPortada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    .fotos {
        width: 300px;
        height: 300px;
        object-fit: cover;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .titulo {
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
}

@media screen and (max-width: 480px) {
    .sectionCalendario {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .imagenCalend {
        width: 300px;
        object-fit: cover;
        padding: 10px;
        display: flex;
        margin: auto;
    }
}

/*ANIMACIÓN EN CSS*/
@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }

}

.fotos {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}